@{
    ViewData["Title"] = "Faculty";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <img width="300" src="~/img/BYU monogram_navy@2x.png" />


    <h1 style="color:#002E5D">Department of Dance</h1>
    <br />
    <h2 style="color:#002E5D">Faculty</h2>
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col">
                <img class="avatar img-thumbnail" src="~/img/download (6).png" />
            </div>
            <div class="col">
                <h4 style="color:#002E5D">Curt Holman</h4>
            </div>
            <div class="col">
                <p>
                    Fames ac turpis egestas sed. Tellus at urna condimentum mattis pellentesque id nibh. Convallis tellus id interdum velit laoreet id
                </p>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col">
                <img class="avatar img-thumbnail" src="~/img/download (4).png" />
            </div>
            <div class="col">
                <h4 style="color:#002E5D">Kori Wakamatsu</h4>
            </div>
            <div class="col">
                <p>
                    a duis convallis convallis. Augue ut lectus arcu bibendum. Pharetra massa massa ultricies mi. Lectus nulla at volut
                </p>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col">
                <img class="avatar img-thumbnail" src="~/img/download (5).png" />
            </div>
            <div class="col">
                <h4 style="color:#002E5D">Shayla Bott</h4>
            </div>
            <div class="col">
                <p>
                    tum nibh tellus molestie nunc non blandit. In ornare quam viverra orci sagittis eu volutpat odio facilisis. Est ultricies integer quis auctor elit sed vulputate mi sit.
                </p>
            </div>
        </div>
    </div>

</body>
