@{
    ViewData["Title"] = "Faculty";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <img width="300" src="~/img/BYU monogram_navy@2x.png" />


    <h1 style="color:#002E5D">Department of Dance</h1>
    <br />
    <br />
    <h2 style="color:#002E5D">Faculty</h2>
    <br />

    <div class="container">
        <div class="row">
            <div class="col">
                <img class="avatar img-thumbnail" src="~/img/download (6).png" />
                <h4 style="color:#002E5D">Curt Holman</h4>
            </div>

            <div class="col"align="left">
                <p>
                    tum nibh tellus molestie nunc non blandit. In ornare quam viverra orci sagittis eu volutpat odio facilisis.
                    Est ultricies integer quis auctor elit sed vulputate mi sit.Enim praesent elementum facilisis leo vel fringilla est ullamcorper eget.
                    Pulvinar pellentesque habitant morbi tristique senectus et netus. Laoreet id donec ultrices tincidunt arcu non sodales. Tellus rutrum tellus pellentesque eu tincidunt tortor.
                    Tincidunt praesent semper feugiat nibh. Laoreet non curabitur gravida arcu. Mauris pharetra et ultrices neque ornare. Curabitur vitae nunc sed velit dignissim.
                </p>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col">
                <img class="avatar img-thumbnail" src="~/img/download (4).png" />
                <h4 style="color:#002E5D">Kori Wakamatsu</h4>
            </div>

            <div class="col" align="left">
                <p>
                    tum nibh tellus molestie nunc non blandit. In ornare quam viverra orci sagittis eu volutpat odio facilisis.
                    Est ultricies integer quis auctor elit sed vulputate mi sit.Enim praesent elementum facilisis leo vel fringilla est ullamcorper eget.
                    Pulvinar pellentesque habitant morbi tristique senectus et netus. Laoreet id donec ultrices tincidunt arcu non sodales. Tellus rutrum tellus pellentesque eu tincidunt tortor.
                    Tincidunt praesent semper feugiat nibh. Laoreet non curabitur gravida arcu. Mauris pharetra et ultrices neque ornare. Curabitur vitae nunc sed velit dignissim.
                </p>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col">
                <img class="avatar img-thumbnail" src="~/img/download (5).png" />
                <h4 style="color:#002E5D">Shayla Bott</h4>
            </div>

            <div class="col" align="left">
                <p>
                    tum nibh tellus molestie nunc non blandit. In ornare quam viverra orci sagittis eu volutpat odio facilisis.
                    Est ultricies integer quis auctor elit sed vulputate mi sit.Enim praesent elementum facilisis leo vel fringilla est ullamcorper eget.
                    Pulvinar pellentesque habitant morbi tristique senectus et netus. Laoreet id donec ultrices tincidunt arcu non sodales. Tellus rutrum tellus pellentesque eu tincidunt tortor. 
                    Tincidunt praesent semper feugiat nibh. Laoreet non curabitur gravida arcu. Mauris pharetra et ultrices neque ornare. Curabitur vitae nunc sed velit dignissim. 
                </p>
            </div>
        </div>
    </div>

</body>
